.f-group {
    margin-bottom: 1rem;
}

.f-group label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 0.8rem;
    font-weight: 300;
    color: #464e5f;
}

.f-elem {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e4e6;
}

.f-help {
    display: block;
    margin-top: .25rem;
    font-weight: 100;
}

.f-help.muted {
    color: #949494;
}

.f-help.error {
    color: #ff0000;
}
